- @questions.each do |question|
  %h6.blacktext.italictext
    (
    = question.topic.name
    )
  %h4.text-left{:style => "display:inline-block"}
    %a.red{:href => view_question_path(:id => question.id) }
      %span.redtext
        %span.q> Q &nbsp;
        = question.text
    %a.btn.btn-default{:href => "#", :role => "button"}
      %span.answertext Write Answer
    %span.blacktext Asked by
    %span.blacktext.italictext{:style => "display:inline-block"}
      %a.black{:href => view_profile_path(:id => question.user.id)}= question.user.name
    .btn-group{:style => "display:inline-block"}
      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
        %span.fa.fa-angle-double-down.blackext
      %ul.dropdown-menu{:role => "menu"}
        %li
          %a{:href => "#"}
            %span.answertext Seek Answer
        %li
          %a{:href => "#"}
            %span.bluetext Follow Topic
  %br
    - question.answers.each do |answer|
      %a.btn.btn-default{:href => "#", :role => "button"}
        %span.bluetext Upvotes:
        %span.bluetext= answer.upvotes
      %h5{:style => "display:inline-block"}
        Answer by
        %span.italictext
        %a.blacktext.italictext{:href => view_profile_path(:id => answer.user.id)}= answer.user.name
        .btn-group{:style => "display:inline-block"}
          %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            %span.fa.fa-angle-double-down.blackext
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "#"}
                %span.bluetext Follow User
            %li
              %a{:href => "#"}
                %span.comment Comment
      %h5.answertext
        %span.q> A &nbsp;
        = answer.text
        %img.img-responsive{:src => "http://vignette3.wikia.nocookie.net/spore/images/6/6c/Question-mark.png/revision/latest?cb=20110427230528"}/
        %hr.style1.center-block1/
  %hr.style2.center-block{:style => "color:red"}/
