= render 'shared/html_headers'
%body
  .whitebg.container-fluid
    .row.nopadding
      = render 'shared/header_home'
      .col-xs-12.whitebg
        .col-xs-2.bluetext
          = render 'shared/topics_home'
        .col-xs-8.bluetext
          %h3.bluetext
            %b Profile
            .col-xs-12
              = yield
        .col-xs-2.bluetext
          %h3.bluetext
            %b Notifications
            = render 'shared/notifications'

